a2wsgi
ansio
browser-use
docker
duckduckgo-search
faiss-cpu
fastmcp
fasta2a
flask[async]
flask-basicauth
flaredantic
GitPython
inputimeout
kokoro
simpleeval
langchain-core
langchain-community
langchain-unstructured[all-docs]
openai-whisper
lxml_html_clean
markdown
mcp
newspaper3k
paramiko
playwright
pypdf
python-dotenv
pytz
tiktoken
unstructured[all-docs]
unstructured-client
webcolors
nest-asyncio
crontab
litellm
markdownify
pymupdf
pytesseract
pdf2image
pathspec
psutil
soundfile
